#Theory

1.  Data structure are ways of organizing and storing data so it can be accessed and modified efficiently. They are important because they determine the performance of algorithms and make it easier to manage and process large amounts of data


2.  Mutable: can be changed after creation eg. list,dict,set.

  Immutable: cannot be changed after creation eg.tuple,str,int

3. List: Mutable, slower, use square brackets[ ].

  Tuples: Immutable, faster,use parentheses ( ).

4. Dictionaries store data as key-value pairs in a hash table, allowing fast access to values using unique keys.

5.  Sets automatically remove duplicate values and allows fast membership testing, making them ideal for uniqueness checks.

6.  A sting is an immutable sequence of characters, whereas a list is a mutable sequence that can store elements of any data type.

7.  Because tuples are immutable, their data cannot be changed after creation, preventing accidental modification.

8.  A hash table is a data structure that stores key-value pairs using a hash function for fast lookups, Python dictionaries are implemented using hash tables.

9.  Yes, lists can store elements of mixed data types(eg. ["text", 42, 3.14}).

10. Strings are immutable for security, memory efficiency, and to make them safe for use as dictionary keys.

11.  Dictionaries allow fast lookups by key (O(1) time complexity) and store data in key-value form, making retrieval easier for associative data.

12.  When storing fixed data such as geographical coordinates (latitude, longitude) that should not be modified,

13.  Sets automatically remove duplicates- only unique elements are stored.

14.  Lists: Checks if a value exists in the list's elements.

  Dictionaries: Checks if a value exists among the dictionary's keys.

15.  No, tuples are immutable- once created, their elements cannot be changed, added, or removed.

16.  A dictionary where values are themselves dictionaries

  example:

In [1]:
students ={
    "Alice": {"age": 20, "grade": "A"},
    "Bob": {"age": 22, "grade": "B"}
}

use case: Storing structured data.

17.  Average case: O(1) due to hash table lookups

  Worst case: O(n) if many hash collisions occurs.

18.  When we only need to store unique values without associated data.

19.  Historically, dictionaries didn't maintain insertion order. Retrieval is based on keys, not position.

20.  List: Access elements by numeric index. eg. list[0]

  Dictionary: Access elements by key. eg. dict["name"].

#PRACTICAL QUESTIONS

In [3]:
#1.
name= "Saniya Firdous"
print(name)

Saniya Firdous

In [4]:
#2.
print(len("Hello World"))

11

In [5]:
#3.
text= "python programming"
print(text[:3])

pyt

In [6]:
#4.
word= "hello"
print(word.upper())

HELLO

In [7]:
#5.
sentence= "I like apple"
print(sentence.replace("apple", "orange"))

I like orange

In [9]:
#6.
numbers = [1,2,3,4,5]
print(numbers)

[1, 2, 3, 4, 5]

In [10]:
#7.
list1 = [1,2,3,4]
list1.append(10)
print(list1)

[1, 2, 3, 4, 10]

In [11]:
#8.
list2=[1,2,3,4,5]
list2.remove(3)
print(list2)

[1, 2, 4, 5]

In [12]:
#9.
chars = ['a', 'b', 'c', 'd']
print(chars[1])

b

In [13]:
#10.
list3 = [10,20,30,40,50]
list3.reverse()
print(list3)

[50, 40, 30, 20, 10]

In [14]:
#11.
t = (100, 200, 300)
print(t)

(100, 200, 300)

In [15]:
#12.
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [16]:
#13.
nums = (10, 20, 5, 15)
print(min(nums))

5

In [17]:
#14.
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

In [18]:
#15.
fruits = ('apple', 'banana', 'orange')
print('kiwi' in fruits)

False

In [19]:
#16.
s = {'a', 'b', 'c'}
print(s)

{'b', 'c', 'a'}

In [21]:
#17.
s = {1,2,3,4,5}
s.clear()
print(s)

set()

In [22]:
#18.
s = {1,2,3,4}
s.remove(4)
print(s)

{1, 2, 3}

In [25]:
#19.
set1 = {1, 2, 3}
set2 = (3, 4, 5)
print(set1.intersection(set2))

{3}

In [24]:
#20.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

In [26]:
#21.
d = {'name': 'john', 'age': 25,
'city': 'New York'}
print(d)

{'name': 'john', 'age': 25, 'city': 'New York'}

In [27]:
#22.
d = {'name': 'John', 'age': 25}
d['country'] = 'USA'
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [28]:
#23.
d = {'name': 'Alice', 'age': 30}
print(d['name'])

Alice

In [30]:
#24.
d = {'name': 'Bob', 'age': '22', 'city': 'New York'}
del d['age']
print(d)

{'name': 'Bob', 'city': 'New York'}

In [31]:
#25.
d = {'name': 'Alice', 'city': 'paris'}
print('city' in d)

True

In [32]:
#26.
lst = [1, 2, 3]
t = ('a', 'b')
d = {'x': 10}
print(lst, t, d)

[1, 2, 3] ('a', 'b') {'x': 10}

In [33]:
#27.
import random
lst = random.sample(range(1, 101), 5)
lst.sort()
print(lst)

[28, 42, 77, 84, 96]

In [34]:
#28.
lst = ["apple", "banana", "cherry", "date"]
print(lst[3])

date

In [35]:
d1 = {'a': 1, 'b': 2}
d2 = {'c': 3, 'd': 4}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [36]:
#30.
lst = ['apple', 'banana', 'cherry']
print(set(lst))

{'apple', 'cherry', 'banana'}